<div class="dropdown app-menu-dropdown">
  <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" id="apps-menu" aria-expanded="false">
    <span class="icon icon-sized">
      <img src="/images/gdc-app-menu.svg" alt="">
    </span>
    <p>
      GDC Apps
    </p>
   </button>
  <div class="dropdown-menu" aria-labelledby="apps-menu">
    <a href="https://portal.gdc.cancer.gov?utm_source=docsite&utm_medium=apps" title="Data Portal" target="_blank">
      <span class="icon icon-sized">
        <img src="/images/gdc-apps-data-portal-blue.svg" alt="">
      </span>
      <p>Data Portal</p>
    </a>
    <a href="https://gdc.cancer.gov?utm_source=docsite&utm_medium=apps" title="Website" target="_blank">
      <span class="icon icon-sized">
        <img src="/images/gdc-app-website-blue.svg" alt="">
      </span>
      <p>Website</p>
    </a>
    <a href="https://gdc.cancer.gov/developers/gdc-application-programming-interface-api?utm_source=docsite&utm_medium=apps" title="API" target="_blank">
      <span class="icon">
        <img src="/images/gdc-app-portal-api.svg" alt="">
      </span>
      <p>API</p>
    </a>
    <a href="https://gdc.cancer.gov/access-data/gdc-data-transfer-tool?utm_source=docsite&utm_medium=apps" title="Data Transfer Tool" target="_blank">
      <span class="icon">
        <img src="/images/gdc-app-data-transfer-tool.svg" alt="">
      </span>
      <p>Data Transfer Tool</p>
    </a>
    <a href="https://docs.gdc.cancer.gov?utm_source=docsite&utm_medium=apps" title="GDC Docs" target="_blank">
      <span class="icon">
        <img src="/images/gdc-app-docs.svg" alt="">
      </span>
      <p>Documentation</p>
    </a>
    <a href="https://portal.gdc.cancer.gov/submission?utm_source=docsite&utm_medium=apps" title="GDC Data Submission Portal" target="_blank">
      <span class="icon">
        <img src="/images/gdc-app-submission-portal.svg" alt="">
      </span>
      <p>Data Submission Portal</p>
    </a>
    <a href="https://gdc.cancer.gov/about-data/publications?utm_source=docsite&utm_medium=apps" title="GDC Publications" target="_blank">
      <span class="icon icon-sized">
        <img src="/images/gdc-app-publications.svg" alt="">
      </span>
      <p>Publications</p>
    </a>
  </div>
</div>
