<div class="dictionary-control-container">
           <span class="dictionary-tooltip">
               <i class="fa fa-info-circle"></i>&nbsp; <em>Download Template Format</em>: &nbsp;
               <span><i></i>
                   Use the template to upload data to the GDC. For more information, please refer to <a href="/Data_Submission_Portal/Users_Guide/Upload_Data/" target="_blank">Upload Data's User Guide</a>.
                   Click the download icon link <b class="fa fa-cloud-download"></b> to download the respective template(s).</span></span>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dictionary-current-template-data-format" aria-expanded="false">
            <span class="data-format-value">TSV</span>  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" data-format="tsv">TSV</a></li>
            <li><a href="javascript:void(0)" data-format="json">JSON</a></li>
        </ul>
    </div>
</div>