<div class="encyclopedia-container" style="display: flex; flex-direction: column; width: auto;">
    <div class = "encyclopedia-main" style="display: flex; flex-direction: column;">
        <div class="encyclopedia-content" style="margin-left: 10px;">
            <div>
                The GDC Encyclopedia is an informational tool that makes GDC applications easier to use. It helps researchers, data submitters, developers and clinicians quickly find specific information without needing to browse for it.
            </div>    
            <div id = "encyc-table" style="background-color: white">
                <header id = "encyc-table-header">
                    <h3>Common Topics for Researchers</h3>
                </header>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Controlled access</a>
                    </span>
                    <span>
                        <a href="">dbGaP</a>
                    </span>
                    <span>
                        <a href="">Open access</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Data Browser</a>
                    </span>
                    <span>
                        <a href="">Experiment</a>
                    </span>
                    <span>
                        <a href="">Tissue Source Site (TSS)</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Data Matrix</a>
                    </span>
                    <span>
                        <a href="">Investigation Description Format (IDF)</a>
                    </span>
                    <span>
                        <a href="">Underexpressed</a>
                    </span>
                </div>
            </div>
            <div id = "encyc-table" style="background-color: white">
                <header id = "encyc-table-header">
                    <h3>Common Topics for Data Submitters</h3>
                </header>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Data Submission Center</a>
                    </span>
                    <span>
                        <a href="">File Type</a>
                    </span>
                    <span>
                        <a href="">Pipeline</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">dbGaP</a>
                    </span>
                    <span>
                        <a href="">Latest Archive Report</a>
                    </span>
                    <span>
                        <a href="">Quality management system</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">File Format</a>
                    </span>
                    <span>
                        <a href="">Normalization</a>
                    </span>
                    <span>
                        <a href="">TCGA barcode</a>
                    </span>
                </div>
            </div>
            <div id = "encyc-table" style="background-color: white">
                <header id = "encyc-table-header">
                    <h3>Common Topics for Data Developers</h3>
                </header>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Facets</a>
                    </span>
                    <span>
                        <a href="">Gzip</a>
                    </span>
                    <span>
                        <a href="">Normalization</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">FASTA Format</a>
                    </span>
                    <span>
                        <a href="">HTTP data access</a>
                    </span>
                    <span>
                        <a href="">QCLive</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Genome Data Analysis Center (GDAC)</a>
                    </span>
                    <span>
                        <a href="">MD Anderson GDAC MBatch</a>
                    </span>
                    <span>
                        <a href="">Universally Unique Identifier</a>
                    </span>
                </div>
            </div>
            <div id = "encyc-table" style="background-color: white">
                <header id = "encyc-table-header">
                    <h3>Common Topics for Clinicians</h3>
                </header>
                <div id="encyc-table-content">
                    <span>
                        <a href="">DNA methylation</a>
                    </span>
                    <span>
                        <a href="">HUGO gene symbol</a>
                    </span>
                    <span>
                        <a href="">Metadata</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Genome Characterization Center</a>
                    </span>
                    <span>
                        <a href="">Loss of heterozygosity (LOH)</a>
                    </span>
                    <span>
                        <a href="">Protected Health Information</a>
                    </span>
                </div>
                <div id="encyc-table-content">
                    <span>
                        <a href="">Gene expression data (array based)</a>
                    </span>
                    <span>
                        <a href="">Mutation Annotation Format (MAF)</a>
                    </span>
                    <span>
                        <a href="">Tumor mutation samples</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% set letters = [] %}
        {% set numLetters = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"] %}
        {% for nav_item in nav %}
            {% if nav_item.title == "EncyclopediaEntries" %}
                {% set sortedChildren = nav_item.children|sort(case_sensitive=False, attribute='title') %}
                {% for child in sortedChildren %}
                    {% set previousLetter = letters[letters|length - 1] %}
                    {% set nextLetter = sortedChildren[loop.index0 + 1].title[0]|upper if loop.index != sortedChildren|length else False %}
                    {% set currentLetter = child.title[0]|upper %}
                    {% set currentLetterIsNumber = currentLetter in numLetters %}
                    {% set nextLetterIsNumber = nextLetter in numLetters %}
                    {% set printLetter = "#" if currentLetterIsNumber else currentLetter %}
                    {% set elementId = "num-list" if currentLetterIsNumber else currentLetter|upper + "-list" %}

                    {% if previousLetter != currentLetter|upper %}
                        {% if letters|length != 0 and not currentLetterIsNumber %}
                        {% endif %}
                        {% if letters.append(currentLetter|upper) %}{% endif %}
                        {% if (currentLetterIsNumber and previousLetter not in numLetters) or not currentLetterIsNumber %}
                        <div class = "doc-list" id = "{{elementId}}">
                            <br>
                            <a><div style="font-size: 24px; color: #6b6262;">{{printLetter}}</div></a>
                        {% endif %}
                    {% endif %}
                            <div>
                                <a href="/Encyclopedia/{{child.url}}">{{child.title|replace("_", " ")}}</a>
                            </div>
                    {% if ((nextLetter != currentLetter or nextLetter == False) and not currentLetterIsNumber) or (currentLetterIsNumber and not nextLetterIsNumber) %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
    


    <!--$(function () {
  var currentSection = window.location.hash.replace(/\^#/, '');
  $('[data-section]').addClass('hidden');
  $('[data-section="' + currentSection + '"]').removeClass('hidden');
})-->