@media (min-width: 925px) and (max-width: 1447px) {
   #body[data-current-page="Encyclopedia"],
  .bs-sidebar {
    margin-top: 8rem !important;
  }
}

#body[data-current-page="Encyclopedia"]{
    margin-top: 20px;
}
#main h1 .header-badge[data-current-page="Encyclopedia"]{
    display: none;
}
.hidden[data-current-page="Encyclopedia"]{
    display: none;
}
[data-current-page="Encyclopedia"] .main-container{
    padding: 0px;
    padding-bottom: 20px;
}
.side-box{
    width:240px;
    box-shadow: 0px 1px 0px #b2b1b4;
    border-radius:4px;
    border-width:1px;
    border-style: solid;
    border-color:#b2b1b4;
    padding:10px;
    margin-bottom:20px;
    margin-right:20px;
    line-height: 20px;
    background-color: white;
}

.encyclopedia-menu .term-button{
    background-color:#2c7b87;
    text-align: center;
    border-radius:2px;
    border:none;
    color:white;
    font-size:18px;
    height:32px;
    width: 32px;
    display:inline-block;
    padding:0px;
}
.encyclopedia-menu .term-button.not-exists{
    pointer-events: none;
    cursor: default;
}

.encyclopedia-menu .topic-submit-button{
    text-decoration:none;
    margin-top: 10px;
    background-color:#2c7b87;
    border-radius:3px;
    border:none;
    color:white;
    font-size:14px;
    display:inline-block;
}
.side-box-title{
    color: #666a6a;
    font-size:15px;
    padding-bottom:7px;
}
.side-box-text{
    font-size:12px;
}
.side-box-input{
    font-size:13px;
    width: 210px;
    margin-bottom: 7px;
    margin-top: 5px;
    padding: 0px;
    height: 23px;
    border-radius: 4px;
    border: solid #e5e5e5 1px;
}
#encyc-table{
    border-radius:4px;
    border: 1px solid #e5e5e5;
    padding:12px;
    margin-top: 12px;
}
#encyc-table-content{
    display:table;
    width:100%;
    table-layout: fixed;
    padding: 6px 0 6px 0;
    border-top: 1px solid #e5e5e5;
 }
#encyc-table-content span{
    display: table-cell;
}

#encyc-table-th{
    padding-bottom: 1px;
    background-color: white;
    border-radius: 4px;
}

#encyc-table-tr{
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 4px;
}
#encyc-table-td{
    padding: 8px;
    border: none;
    border-radius: 4px;
}

#encyc-table-td:first-child, #encyc-table-th:first-child {
     border-left: none;
     padding-left: 15px;
}

#encyc-table-th:first-child {
    border-radius: 6px;
}