{% if not nav_item.children %}
  <li {% if nav_item.active %}class="active"{% endif %}>
    {% if disableRootNavPrefixing %}
    <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
    {% else %}
    <a href="{{ config.extra.project_root_dir }}{{ nav_item.url }}">{{ nav_item.title }}</a>
    {% endif %}
  </li>
  {% if nav_item.title == "Aligned Reads Summary Metrics" %}
  <li>
    <a href="https://gdc.cancer.gov/about-data/data-harmonization-and-generation/gdc-reference-files" target="_blank"><i class="fa fa-external-link"></i> GDC Reference Files</a>
  </li>
  {% endif %}
{% else %}
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">{{ nav_item.title }}</a>
    <ul class="dropdown-menu">
        {% for nav_item in nav_item.children %}
            {% include "nav-sub.html" %}
        {% endfor %}
    </ul>
  </li>
{% endif %}