<div class="col-md-3 toc-container" role="navigation" aria-label="In-Page Navigation">
  <div class="bs-sidebar hidden-print affix well animated fadeIn">
    <ul class="nav bs-sidenav">
      {% for nav_item in nav %}

        {% if nav_item.children and nav_item.active %}

          {% for sub_nav_item in nav_item.children %}
            <li class="{% if sub_nav_item.active %} main active{% endif %}">
              <a href="{{ sub_nav_item.url }}">
                {{ sub_nav_item.title }}
              </a>
                {% if toc and ((toc | first) is defined) and sub_nav_item.active %}
                    {% include "nav-section-map-toc.html" %}
                {% endif %}
            </li>
            {% if sub_nav_item.title == "Aligned Reads Summary Metrics" %}
            <li>
              <a href="https://gdc.cancer.gov/about-data/data-harmonization-and-generation/gdc-reference-files" target="_blank"><i class="fa fa-external-link"></i> GDC Reference Files</a>
            </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>