<div class="navbar navbar-default navbar-fixed-top" role="navigation" aria-label="Site Navigation">
  {% include "notifications.html" %}
    <div class="container">
        <!-- Collapsed navigation -->
        <div>
            <!-- Main title -->
            <a class="navbar-brand" href="{{ config.extra.project_root_dir }}{{ homepage_url }}">
                <img src="/img/nih-header-logo-color.png"
                  alt="NIH National Cancer Institute GDC Documentation" />
                <span class="hidden">NIH National Cancer Institute GDC Documentation</span>
            </a>
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- GDC Apps -->
            <div class="pull-right">
              <div class="gdc-app-list">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-label="GDC Apps Menu">
                  <span class="icon-gdc-apps-menu" aria-hidden="true"></span>
                  <span data-translate>GDC Apps</span>
                </a>
                <div data-dropdown-menu class="dropdown-menu gdc-apps-menu-container" role="menu">
                  <div class="gdc-apps-menu-grid">
                    <div class="menu-column">
                      <a href="https://portal.gdc.cancer.gov/" title="Data Portal" target="_blank" class="menu-item">
                        <img width="21px"
                          src="/img/GDC-App-data-portal-blue.svg" class="icon icon-gdc-portal home" alt="GDC Data Portal" />
                        <div>Data Portal</div>
                      </a>
                      <a href="https://gdc.cancer.gov/developers/gdc-application-programming-interface-api" title="GDC API" target="_blank" class="menu-item">
                        <span class="icon icon-gdc-portal-api">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                          </span>
                        <div>API</div>
                      </a>
                      <a href="https://docs.gdc.cancer.gov/" title="GDC Docs" target="_blank" class="active menu-item">
                        <span class="icon icon-gdc-docs">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span>
                        </span>
                        <div>Documentation</div>
                      </a>
                      <a href="https://portal.gdc.cancer.gov/legacy-archive" title="GDC Legacy Archive" target="_blank" class="menu-item">
                        <span class="icon icon-gdc-legacy-archive">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                        </span>
                        <div>Legacy Archive</div>
                      </a>
                    </div>
                    <div class="menu-column">
                      <a href="https://gdc.cancer.gov/" title="GDC Website" target="_blank" class="menu-item">
                        <img width="21px"
                          src="/img/GDC-App-website-blue.svg" class="icon icon-gdc-portal home" alt="GDC Website" />
                        <div>Website</div>
                      </a>
                      <a href="https://gdc.cancer.gov/access-data/gdc-data-transfer-tool" class="menu-item" title="GDC Data Transfer Tool" target="_blank">
                        <span class="icon icon-gdc-data-transer-tool">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                        </span>
                        <div>Data Transfer Tool</div>
                      </a>
                      <a href="https://portal.gdc.cancer.gov/submission/" title="GDC Submission Portal" target="_blank" class="menu-item">
                        <span class="icon icon-gdc-submission-portal">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                        </span>
                        <div>Data Submission Portal</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- -->
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav nav-full">
            {% for nav_item in nav %}
            {% if nav_item.title in config.extra.nav_exclude %}
            {% elif nav_item.children %}
                <li class="dropdown{% if nav_item.active %} active{% endif %}">
                    <a href="#" title="{{nav_item.title}}" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% for nav_item in nav_item.children %}
                        {% include "nav-sub.html" %}
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li {% if nav_item.active %}class="active"{% endif %}>
                    <a href="{{ config.extra.project_root_dir }}{{ nav_item.url }}">{{ nav_item.title }}</a>
                </li>
            {% endif %}
            {% endfor %}
                <li class="menu-bar"></li>
                <li>
                  <a aria-label="Search" id="gdc-search-button" title="Click to Search the GDC Documentation" href="javascript:$gdcApp.searchModal.show()">
                    <span class="fa fa-search" aria-hidden="true"></span>&nbsp;
                    <span class="hidden">Quick Search</span>
                  </a>
                </li>
            </ul>

            {% if false %}
            <ul class="nav navbar-nav navbar-right">
                <li {% if not previous_page %}class="disabled"{% endif %}>
                    <a rel="next" {% if previous_page %}href="{{ previous_page.url }}"{% endif %}>
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li {% if not next_page %}class="disabled"{% endif %}>
                    <a rel="prev" {% if next_page %}href="{{ next_page.url }}"{% endif %}>
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                {% if repo_url %}
                <li>
                    <a href="{{ repo_url }}">
                        {% if repo_name == 'GitHub' %}
                            <i class="fa fa-github"></i>
                        {% elif repo_name == 'Bitbucket' %}
                            <i class="fa fa-bitbucket"></i>
                        {% endif %}
                        {{ repo_name }}
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
