<div class="navbar navbar-default navbar-fixed-top" role="navigation" aria-label="Site Navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div>
            <!-- Main title -->
            <a class="navbar-brand" href="{{ config.extra.project_root_dir }}{{ homepage_url }}">
                <img src="/img/nih-header-logo-color.png" alt="NCI GDC Documentation Logo" />
                <span class="hidden">NCI GDC Documentation</span>
            </a>
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- GDC Apps -->
            <div class="pull-right">
              <div class="gdc-app-list">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-label="GDC Apps Menu">
                  <span class="icon-gdc-apps-menu" aria-hidden="true"></span>
                  <span data-translate>GDC Apps</span>
                </a>
                <div data-dropdown-menu class="dropdown-menu gdc-apps-menu-container" role="menu">
                  <table class="gdc-apps-menu-grid" role="presentation">
                    <tbody>
                    <tr>
                      <td>
                        <a href="https://gdc-portal.nci.nih.gov/" title="Data Portal" target="_blank">
                          <span class="icon icon-gdc-data-portal">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span>
                          </span>
                          <p>Data Portal</p>
                        </a>
                      </td>
                      <td>
                        <a href="https://gdc.nci.nih.gov/access-data/gdc-data-transfer-tool" title="GDC Data Transfer Tool" target="_blank">
                          <span class="icon icon-gdc-data-transer-tool">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                          </span>
                          <p>Data Transfer Tool</p>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="https://gdc.nci.nih.gov/developers/gdc-application-programming-interface-api" title="GDC API" target="_blank">
                          <span class="icon icon-gdc-portal-api">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                          </span>
                          <p>API</p>
                        </a>
                      </td>
                      <td>
                        <a href="https://gdc-portal.nci.nih.gov/submission/" title="GDC Submission Portal" target="_blank">
                         <span class="icon icon-gdc-submission-portal">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                        </span>
                          <p>Data Submission Portal</p>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" title="GDC Docs" class="active">
                      <span class="icon icon-gdc-docs">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span>
                      </span>
                          <p>Documentation</p>
                        </a>
                      </td>
                      <td>
                        <a href="https://gdc.nci.nih.gov/" title="GDC Website" target="_blank">
                      <span class="icon icon-gdc-website">
                         <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                      </span>
                          <p>Website</p>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="https://gdc-portal.nci.nih.gov/legacy-archive" title="GDC Legacy Archive" target="_blank">
                       <span class="icon icon-gdc-legacy-archive">
                           <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                        </span>
                          <p>Legacy Archive</p>
                        </a>
                      </td>
                      <td>
                        <a href="#" title="GDC cBio Portal" target="_blank" class="menu-item">
                            <img src="/img/icon-cBioPortal.svg" class="icon icon-gdc-cbio-portal" alt="GDC cBio Portal" />
                            <p>GDC cBio Portal</p>
                        </a>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- -->
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav nav-full">
            {% for nav_item in nav %}
            {% if nav_item.children %}
                <li class="dropdown{% if nav_item.active %} active{% endif %}">
                    <a href="#" title="{{nav_item.title}}" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% for nav_item in nav_item.children %}
                        {% include "nav-sub.html" %}
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li {% if nav_item.active %}class="active"{% endif %}>
                    <a href="{{ config.extra.project_root_dir }}{{ nav_item.url }}">{{ nav_item.title }}</a>
                </li>
            {% endif %}
            {% endfor %}
                <li class="menu-bar"></li>
                <li>
                  <a aria-label="Search" id="gdc-search-button" title="Click Search the GDC Documentation" href="javascript:$gdcApp.searchModal.show()">
                    <span class="fa fa-search" aria-hidden="true"></span>&nbsp;
                    <span class="hidden">Quick Search</span>
                  </a>
                </li>
            </ul>

            {% if false %}
            <ul class="nav navbar-nav navbar-right">
                <li {% if not previous_page %}class="disabled"{% endif %}>
                    <a rel="next" {% if previous_page %}href="{{ previous_page.url }}"{% endif %}>
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li {% if not next_page %}class="disabled"{% endif %}>
                    <a rel="prev" {% if next_page %}href="{{ next_page.url }}"{% endif %}>
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                {% if repo_url %}
                <li>
                    <a href="{{ repo_url }}">
                        {% if repo_name == 'GitHub' %}
                            <i class="fa fa-github"></i>
                        {% elif repo_name == 'Bitbucket' %}
                            <i class="fa fa-bitbucket"></i>
                        {% endif %}
                        {{ repo_name }}
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
