.dictionary-view {
  opacity: 0;
  width: 95%;
  margin: 3rem auto 0rem auto;
}
.dictionary-view h1:after {
  margin-top: 0.3rem;
}

.dictionary-view .bullets {
  padding-left: 2.2rem;
}

/* Dictionary Entity View */
.dictionary-properties-table,
.dictionary-links-table,
.dictionary-summary-table,
.dictionary-entity-table {
  width: 100%;
  margin: 0rem auto 4rem auto;
  background-color: transparent;
  position: relative;
}


.dictionary-entity-header {
  background: linear-gradient(#777, #444);
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 1rem 0.5rem;
  position: relative;
  text-shadow: 0 1px 0 #000;
}


.dictionary-entity-header a:hover {
  color: #ff8e92;
}

.dictionary-entity-header a {
  padding: 0.5rem 1rem;
  color: inherit;
}


.dictionary-entity-list-item:nth-child(odd) td {
  background: #f1f1f1;
}

.dictionary-entity-list-item:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}

.dictionary-entity-list-item:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}

.dictionary-entity-list-item:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}

.dictionary-entity-list-item tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

.dictionary-entity-table tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}


.dictionary-entity-list-item {
  padding: 0rem 0rem;
  color: #222;
  border-bottom: 1px solid rgba(0,0,0,0.065);
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dictionary-entity-list-item a,
.dictionary-entity-list-item a:hover,
.dictionary-entity-list-item a:focus {
  color: #222;
  background-color: transparent;
}

.dictionary-entity-list-item:hover,
.dictionary-entity-list-item:hover {
  background-color: #fff;
}

.dictionary-entity-list-item .link a {
  color: #347cb0;
}

.dictionary-entity-list-item:hover .link a {
  color: #166aa2;
}

.dictionary-entity-list-item:hover:first-child td {
  border-top: none;
}

.dictionary-entity-list-item:hover td {
  border-top: solid 1px #166aa2;
  border-bottom: solid 1px #166aa2;
}

.dictionary-entity-list-item td {
  padding: 0px;
  margin: 0px;
}

.dictionary-entity-list-item a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}

.dictionary-entity-list-item {
  transition: background-color 0.2s ease-in-out;
}


.dictionary-entity-list-item:hover td:first-child  {
  background-color: #E7F0FF;
}

.dictionary-entity-list-item:hover td:last-child {
  background-color: #E7F0FF;
  background: -moz-linear-gradient(90deg, #E7F0FF 0%, #E7F0FF 25%, #FFFFFF 75%, #FFFFFF 100%);
  background: -ms-linear-gradient(90deg, #E7F0FF 0%, #E7F0FF 25%, #FFFFFF 75%, #FFFFFF 100%);
  background: -webkit-linear-gradient(90deg, #E7F0FF 0%, #fff 25%, #FFFFFF 75%, #FFFFFF 100%);
  background: linear-gradient(90deg, #E7F0FF 0%, #fff 25%, #FFFFFF 75%, #FFFFFF 100%);
}

.dictionary-download-category-btn-container {
  display: inline-block;
  text-align: right;
  float: right;
}

.required-val {
  font-weight: bold;
  color: #437c36;
}


.dictionary-definition-container h2 a {
  text-decoration: none;
  color: inherit;
}

.dictionary-definition-container h2 a:hover {
  text-decoration: underline;
}

/* Dictionary Definition View */
.dictionary-properties-table,
.dictionary-links-table,
.dictionary-summary-table {
  width: 100%;
  margin: 0rem auto 4rem auto;
  font-size: 1.2rem;
  border: solid 1px #ccc;
  background-color: #fff;
}


.definition-controls-container {
  display: inline-block;
  float: right;
}

#dictionary-app-container .btn {
  padding: 0.5rem 1rem;
  transition: background 0.25s ease-in-out;
  color: #fff;
}

.dictionary-control-container {
  position: relative;
  font-size: 1.5rem;
}

.dictionary-view-control i[class^="fa"] {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 2rem;
}

.dictionary-control-bttn {
  margin: 0rem 0rem;
}

.dictionary-template-download-bttn {
  font-size: 1.5rem;
  color: #6b6262;
}

.dictionary-template-download-bttn:focus,
.dictionary-template-download-bttn:hover {
  text-decoration: none;
  color: #3a3a3a;
}

/*
.dictionary-control-bttn:last-child {
  margin-right: 0rem;
}
*/
.dictionary-download-template-bttn {
  display: inline-block;
}

.dictionary-definition-container {
  width: 100%;
}


.dictionary-properties-table th,
.dictionary-links-header th,
.dictionary-summary-header th {
  background: linear-gradient(#777, #444);
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  position: relative;
  text-shadow: 0 1px 0 #000;
}

.dictionary-properties-table tr:nth-child(odd) td,
.dictionary-links-table tr:nth-child(odd) td,
.dictionary-summary-table tr:nth-child(odd) td {
  background: #f1f1f1;
}

.dictionary-summary-table td:first-child {
  white-space: nowrap;
  border-right: solid 1px #ccc;
  font-weight: bold;
}

.dictionary-properties-table td,
.dictionary-links-table td,
.dictionary-summary-table td {
  padding: 1rem 1rem;
  border-bottom: solid 1px #ccc;
}

.dictionary-definition-container {
  margin: 4rem auto;
}

.property-description {
  max-width: 38rem;
}

/* ********************* */

.card {
  background: #FFFFFF;
  background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
  border: none;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Nav Breadcrumb */
.dictionary-breadcrumb-container {
  font-size: 1.4rem;
  padding: 0rem 0rem 0rem 0rem;
  display: none;
  height: 5rem;
}

/* Dictionary View Controls */

.dictionary-view-control {
  margin: 2rem auto 2rem auto;
  text-align: right;
  width: 95%;
}

.dictionary-view-control .dropdown-menu {
  left: -55%;
}

.dictionary-view-control .dictionary-tooltip span {
  margin-left: -42rem;
  margin-top: 5rem;
  text-align: left;
}



.dictionary-view-control .dictionary-tooltip > span > i {
  margin-left: 22rem;
}

.dictionary-view-control .dictionary-tooltip:hover > span {
  margin-left: -37rem;
  margin-top: 5rem;
  z-index: 1000;
}

.dictionary-download-category-btn-container .dictionary-tooltip:hover > span {
  margin-left: -31rem;
  text-align: left;
  width: 25rem;
}

.dictionary-download-category-btn-container .dictionary-tooltip:hover > span i {
  margin-left: 18rem;
}

  /* ******** */

/* Tooltips */
.dictionary-tooltip {
  outline: none;
  text-decoration: none;
  /*border-bottom: dotted 1px #ccc;*/
  position: relative;
  cursor: pointer;
}

.dictionary-tooltip em {
  border-bottom: dotted 1px #ccc;
  font-style: normal;
}

.dictionary-tooltip > span {
  width: 30rem;
  padding: 1rem 2rem;
  margin-top: 4rem;
  margin-left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-style: normal;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #999;
  -webkit-transition-property: opacity, margin-top, visibility, margin-left;
  -webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-property: opacity, margin-top, visibility, margin-left;
  transition-duration: 0.3s, 0.2s, 0.3s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

.dictionary-tooltip:hover > span {
  opacity: 1;
  text-decoration: none;
  visibility: visible;
  overflow: visible;
  margin-top: 4rem;
  display: inline;
  margin-left: -6rem;
  opacity: 0.95;
}

.dictionary-tooltip:hover > span > a {
  visibility: visible;
}

.dictionary-tooltip span i {
  width: 15px;
  height: 15px;
  margin-left: 0px;
  margin-top: -17px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none\0/;
  *display: none;
}

.dictionary-tooltip > span {
  color: #fff;
  background: #000;
  background: -webkit-linear-gradient(top, #000000, #111);
  background: linear-gradient(top, #000000, #111);

}

.dictionary-tooltip span > i {
  background: #000;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  opacity: 1;
}
/* ******** */

a.dictionary-anchor:focus,
a.dictionary-anchor:hover,
a.dictionary-anchor {
  color: inherit;
  cursor: default;
}

.monospace {
  font-family: monospace;
}